# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
wheels/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest, coverage, and other test-related artifacts
.coverage
.pytest_cache/
*.cover

# Environment variables and virtual environments
.env
.venv
env/
venv/

# IDE-specific files and folders
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Streamlit local files
.streamlit/

# Conda environment file
environment.yml
